.notificate
.wrapper
  = render partial: "shared/side-bar"
  .chat
    .header
      .left-header
        .left-header__title
          = @group.name
        .left-header__member
          Member : #{current_user.name}
      .right-header
        = link_to 'Edit', "" , class: "right-header__button"
    .messages
      = render @messages
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :body, class: 'form__space', placeholder: 'type a message'
        .form__icon
          = f.label :image, class: 'form__icon__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden',style:"display:none"
        = f.submit 'Send', class: 'form__button'
